# api binary
/api
/node_modules
/app/revprox/revprox
.DS_Store
*.pyc
.*.swp
.*.swo
*.lo
*.o
dump.rdb
/app/api/api
/infra/deploy/docker/workspace
/infra/deploy/docker/tmp_*
/infra/deploy/configs/bin
/tools/diffToSlack/vendor/*
!/tools/diffToSlack/vendor/vendor.json
/.idea
