version: 2.1

orbs:
  slack: circleci/slack@3.3.0

references:
  default: &default
    environment:
      TZ: "/usr/share/zoneinfo/Asia/Taipei"
    docker:
      - image: circleci/python:3.7

  tag_filter_pr_build: &tag_filter_pr_build
    filters:
      branches:
        only:
          - /^pull\/.*$/
  tag_filter_master_build: &tag_filter_master_build
    filters:
      branches:
        only:
          - master

jobs:
  cache_workspace:
    docker:
      - image: cimg/base:2020.01
    steps:
      - restore_cache:
          key: configs_workspace-
      - checkout
      - save_cache:
          name: "Save cache: workspace"
          key: configs_workspace-{{ epoch }}
          paths:
            - .
  build:
    <<: *default
    steps:
      - restore_cache:
          key: configs_workspace-
      - checkout
      - run:
          name: python requirements
          command: |
            sudo pip install -r ./circle/requirements.txt
      - run:
          name: syntax check
          command: |
            echo "syntax check - start"
            ./circle/syntax_checker.py
            echo "syntax check - end"

      - run:
          name: providers check
          command: |
            echo "providers check - start"
            ./circle/check_providers.py
            echo "providers check - end"

      - run:
          name: remote check
          command: |
            echo "remote check - start"
            ./circle/remote_check.py
            echo "remote check - end"

      - slack/status:
          mentions: "S4Y7W93V1" # S4Y7W93V1 is the slack id for `@sre`
          include_project_field: false
          include_job_number_field: false
          failure_message: "[CircleCI] 17media/configs - Syntax Check Failed - <https://github.com/17media/configs/commit/${CIRCLE_SHA1}|${CIRCLE_SHA1}>"
          fail_only: true
          webhook: $SLACK_CONFIG_WEBHOOK
          only_for_branches: "master"
  deploy:
    <<: *default
    steps:
      - run:
          name: deliver configuration
          command: |
            curl -sSL --fail -w "%{http_code}\n" -o /dev/null "${DEPLOY_TO_GCP_URL}&REVISION=${CIRCLE_SHA1}"

workflows:
  version: 2
  # all:
  #   jobs:
  #     - build:
  #         <<: *tag_filter_master_build
  #     - cache_workspace:
  #         <<: *tag_filter_master_build
      # - deploy:
      #     <<: *tag_filter_master_build
      #     requires:
      #     - build

  pr-build:
    jobs:
      - cache_workspace:
          <<: *tag_filter_pr_build
      - build:
          <<: *tag_filter_pr_build
