

version: 2

notify:
  # Notify phabricator about result
  webhooks:
    - url: https://media17.phacility.com/harbormaster/hook/circleci/

references:
  default: &default
    environment:
      TZ: "/usr/share/zoneinfo/Asia/Taipei"
    docker:
      - image: circleci/python:2.7

jobs:
  build:
    <<: *default
    steps:
      - checkout
      - run:
          name: syntax check
          command: |
            sudo pip install -r ./circle/requirements.txt
            ./circle/syntax_checker.py
            echo "ok"
  deploy:
    <<: *default
    steps:
      # - run:
      #     name: deliver configuration to AWS
      #     command: |
      #       curl "${DEPLOY_URL}&REVISION=${CIRCLE_SHA1}"
      - run:
          name: deliver configuration to GCP
          command: |
            curl "${DEPLOY_TO_GCP_URL}&REVISION=${CIRCLE_SHA1}"

# Setup workflows
workflows:
  version: 2
  all:
    jobs:
      - build
      - deploy:
          requires:
          - build
          filters:
            branches:
              only:
              - master
