# Every service belongs to a type (go, nodejs, webapp, or spinnaker)
# Every type has its own settings like Jenkins endpoints which base on environments
groups:
  backend:
    aggr-gateway:       "go"
    alfred:             "go"
    revprox:            "go"
    goapi:              "go"
    cronjob:            "go"
    slackbot:           "go"
    shield:             "go"
    worker:             "go"
    exchange:           "go"
    data-middleware:    "go"
    go-cron:            "go"
    golives:            "go"
    gologs:             "go"
    golokalise:         "go"
    gocells:            "go"
    gotrade:            "go"
    goplatform:         "go"
    gousersearch:       "go"
    groupcall:          "go"
    live17-streaming-api: "go"
    eventory:           "go"
    eventory-worker:    "go"
    eventory-replay:    "go"
    data-stream-worker: "go"
    ml-host:            "go"
    snapshot:           "go"
    log-worker:         "go"
    spinnaker:          "spinnaker"
    17app:              "spinnaker"
    17app-canary:       "canary"
    concert-stream:     "go"
    concert-stream-jp:  "go"
    concert-stream-id:  "go"
    concert-stream-tw:  "go"
    concert-stream-ph:  "go"
    concert-stream-sg:  "go"
    concert-trade:      "go"
    poll:               "go"
    revprox-jp:         "go"
    revprox-id:         "go"
    revprox-tw:         "go"
    revprox-ph:         "go"
    revprox-sg:         "go"
    gift-worker:        "go"
  frontend:
    skyeye:          "go"
    admin:           "nodejs"
    webtool:         "nodejs"
    baobaofu:        "webapp"
    webapp:          "webapp"
    skyeyewall:      "webapp"
    17live:          "webapp"
    admin-v2:        "webapp"
    skyeye-v2:       "webapp"
    17live-sso:      "webapp"
    17live-webview:  "webapp"
  event:
    event-server:    "go"
    event-web:       "webapp"
settings:
  spinnaker:
    k8ssta:
      endpoint: '17media-trigger-spinnaker/buildWithParameters?token=5FemjEmgtTx5rrFE96nie8j2QdyciZc6Nctnnr7P'
    k8sprod:
      endpoint: '17media-trigger-spinnaker/buildWithParameters?token=5FemjEmgtTx5rrFE96nie8j2QdyciZc6Nctnnr7P'
  webapp:
    rc:
      endpoint: 'stag-frontend-deployment/buildWithParameters?token=gqrvFLSkpLqFX5yC2WdHfZWYQ8oAEaQC8Yt8wr2i'
    sta:
      endpoint: 'stag-frontend-deployment/buildWithParameters?token=gqrvFLSkpLqFX5yC2WdHfZWYQ8oAEaQC8Yt8wr2i'
    prod:
      endpoint: 'prod-frontend-deployment/buildWithParameters?token=59AaTjDNAdZkhbynG8uMVNz2p2UduAhhncmjrEb2'
  go:
    k8sstaqa:
      endpoint: 'k8sstaqa-deployment-goapi/buildWithParameters?token=egxVYNaBdHqKWMnJV72EQsG7xtX2UYiYHsLNUWVe'
    k8ssta:
      endpoint: 'k8ssta-deployment-goapi/buildWithParameters?token=qLnZFhgbtDwYHq3bpqdsfHkXqEbMS7VAuTshkBrQ'
    k8sprod:
      endpoint: 'k8sprod-deployment-goapi/buildWithParameters?token=WPZgd7ag4Q7ksL3nSqLW2QVq6aaDK5apguCvR23M'
    awssta:
      endpoint: '17App/job/awssta-deployment-goapi/buildWithParameters?token=WPZgd7ag4Q7ksL3nSqLW2QVq6aaDK5apguCvR23M'
    awsprod:
      endpoint: '17App/job/awsprod-deployment-goapi/buildWithParameters?token=WPZgd7ag4Q7ksL3nSqLW2QVq6aaDK5apguCvR23M'
    k8suat:
      endpoint: 'k8suat-deployment/buildWithParameters?token=qLnZFhgbtDwYHq3bpqdsfHkXqEbMS7VAuTshkBrQ'
  canary:
    k8ssta:
      endpoint: 'k8ssta-canary-deployment/buildWithParameters?token=5FemjEmgtTx5rrFE96nie8j2QdyciZc6Nctnnr7P'
  nodejs:
    k8ssta:
      endpoint: 'k8ssta-deployment-nodejs/buildWithParameters?token=gqrvFLSkpLqFX5yC2WdHfZWYQ8oAEaQC8Yt8wr2i'
    k8sprod:
      endpoint: 'k8sprod-deployment-nodejs/buildWithParameters?token=MdfMrjx5egcQKAQMdEHP92hNACQvPemnvTWRT3fe'

# Original 17app group had been devided into environment based design
# For example, 17app in k8sprod represent 17 services group but
# for awsprod, it's only 2 services
batchDeploy:
  17app:
    k8sprod:
      - "goapi"
      - "aggr-gateway"
      - "revprox"
      - "worker"
      - "data-middleware"
      - "go-cron"
      - "golives"
      - "golokalise"
      - "gocells"
      - "gotrade"
      - "goplatform"
      - "gousersearch"
      - "groupcall"
      - "exchange"
      - "slackbot"
      - "alfred"
      - "eventory"
      - "eventory-worker"
      - "eventory-replay"
      - "data-stream-worker"
      - "ml-host"
      - "snapshot"
      - "live17-streaming-api"
      - "concert-stream"
      - "concert-stream-jp"
      - "concert-stream-id"
      - "concert-stream-tw"
      - "concert-stream-ph"
      - "concert-stream-sg"
      - "concert-trade"
      - "revprox-jp"
      - "revprox-id"
      - "revprox-tw"
      - "revprox-ph"
      - "revprox-sg"
    k8ssta:
      - "goapi"
      - "aggr-gateway"
      - "revprox"
      - "worker"
      - "data-middleware"
      - "go-cron"
      - "golives"
      - "golokalise"
      - "gocells"
      - "gotrade"
      - "goplatform"
      - "gousersearch"
      - "groupcall"
      - "exchange"
      - "slackbot"
      - "alfred"
      - "eventory"
      - "eventory-worker"
      - "eventory-replay"
      - "data-stream-worker"
      - "ml-host"
      - "snapshot"
      - "live17-streaming-api"
      - "concert-stream"
      - "concert-stream-jp"
      - "concert-stream-id"
      - "concert-stream-tw"
      - "concert-stream-ph"
      - "concert-stream-sg"
      - "concert-trade"
      - "revprox-jp"
      - "revprox-id"
      - "revprox-tw"
      - "revprox-ph"
      - "revprox-sg"
    k8suat:
      - "goapi"
      - "aggr-gateway"
      - "revprox"
      - "worker"
      - "data-middleware"
      - "go-cron"
      - "golives"
      - "golokalise"
      - "gocells"
      - "gotrade"
      - "goplatform"
      - "gousersearch"
      - "groupcall"
      - "exchange"
      - "slackbot"
      - "eventory"
      - "eventory-worker"
      - "eventory-replay"
      - "snapshot"
      - "concert-stream"
      - "concert-stream-jp"
      - "concert-stream-id"
      - "concert-stream-tw"
      - "concert-stream-ph"
      - "concert-stream-sg"
      - "concert-trade"
      - "revprox-jp"
      - "revprox-id"
      - "revprox-tw"
      - "revprox-ph"
      - "revprox-sg"
    awsprod:
      - "goapi"
      - "revprox"
    awssta:
      - "goapi"
      - "revprox"
  17app-canary:
    k8ssta:
      - "goapi"
      - "aggr-gateway"
      - "revprox"
      - "worker"
      - "data-middleware"
      - "go-cron"
      - "golives"
      - "golokalise"
      - "gocells"
      - "gotrade"
      - "goplatform"
      - "gousersearch"
      - "groupcall"
      - "exchange"
      - "slackbot"
      - "eventory"
      - "eventory-worker"
      - "eventory-replay"
      - "snapshot"

# abstractEnvs is designed for cross cloud environment,
# deploying using allprod stands for deploying to both
# k8sprod and awsprod
abstractEnvs:
  allprod:
    - "k8sprod"
    - "awsprod"
  allsta:
    - "k8ssta"
    - "awssta"
