# GITHUB_TOKEN from GitHub account: 17media-sre-integration
# GCALCLI_OAUTH: after login gcalcli in your commandline by the following command (it will open your browser), copy the value from ~/.gcalcli_oauth and paste it to GitHub secret
# `$ gcalcli --client-id $client_id --client-secret $client_secret --calendar='ENG Support' --nocolor agenda '2022/02/25' '2023/01/01' --tsv --nostarted`
# Find the client id & secret [here](https://console.cloud.google.com/apis/credentials/oauthclient/472414173541-p1ltl04cflr93mv58eemvt2qunc198nj.apps.googleusercontent.com?project=live17-sre)
# SLACK_WEBHOOK_URI: incoming webhook by slackbot: `shot`
name: Configure Prescaling
on:
  schedule:
    - cron: '0 2 * * *' # 10AM UTC+8
    - cron: '0 6 * * *' # 14PM UTC+8
    - cron: '0 10 * * *' # 18PM UTC+8
jobs:
  configure_prescaling:
    name: Configure prescaling
    runs-on: ubuntu-latest
    if: github.repository == '17media/configs'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - id: plan
        env:
          GITHUB_TOKEN: ${{ secrets.SRE_GITHUB_TOKEN }}
          GCALCLI_OAUTH: ${{ secrets.GCALCLI_OAUTH }}
          SLACK_WEBHOOK_URI: ${{ secrets.SLACK_WEBHOOK_URI }}
        run: |-
          echo $GCALCLI_OAUTH > ~/.gcalcli_oauth
          ./prescaling.sh
